name: Moodle Plugin CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-22.04

    services:
      mariadb:
        image: mariadb:10
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_CHARACTER_SET_SERVER: "utf8mb4"
          MYSQL_COLLATION_SERVER: "utf8mb4_unicode_ci"
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3']
        moodle-branch: ['MOODLE_404_STABLE']
        database: ['mariadb']

    steps:
      - name: Check out plugin
        uses: actions/checkout@v4
        with:
          path: plugin

      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: max_input_vars=5000
          coverage: none

      - name: Install moodle-plugin-ci
        run: |
          composer create-project -n --no-dev --prefer-dist moodlehq/moodle-plugin-ci ci ^4
          echo "$(cd ci/bin; pwd)" >> $GITHUB_PATH
          echo "$(cd ci/vendor/bin; pwd)" >> $GITHUB_PATH
          sudo locale-gen en_AU.UTF-8

      - name: Configure and install Moodle
        env:
          DB: ${{ matrix.database }}
          MOODLE_BRANCH: ${{ matrix.moodle-branch }}
        run: |
          moodle-plugin-ci install --plugin ./plugin --db-host=127.0.0.1

      - name: PHP lint
        run: moodle-plugin-ci phplint

      - name: Moodle code checker (phpcs)
        run: moodle-plugin-ci phpcs --max-warnings 0

      - name: PHPUnit
        run: moodle-plugin-ci phpunit
